.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  font: white;
  font-size: 30px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: 65px;
  background-color: lightgreen;
}
input {
  width: 230px;
  height: 29px;
  font-size: 100px;
  border: 2px solid;
  border-radius: 8px;
}
